body {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(222,223,207);
  }
  
  .game {
    float: left;
    padding: 0% 10%;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Orbitron');

  .game p {
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
  }
  
  .logo-img {
    width: 500px;
  }
  
  .control-set-img {
    width: 250px;
  }
  
  #start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #312c2c;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: left;
      padding: 20px 0px;
  }
  
.canvas {
  font-size: 40px;
}